<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>PNID Project</title>
    <style>
        body { background: #121212; color: white; font-family: sans-serif; text-align: center; padding-top: 50px; }
        .box { border: 2px solid #3d44db; display: inline-block; padding: 20px; border-radius: 10px; }
    </style>
</head>
<body>
    <div class="box">
        <h1>Сайт проєкту PNID 🚀</h1>
        <p>Ця сторінка пройшла автоматичну перевірку GitHub Actions.</p>
    </div>
</body>
</html>